<!-- MapServer Template -->
<table>
    <thead style="text-align: left">
      <tr>
          <th>Layer</th>
          <th>bag_id</th>
          <th>Nimi</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Pohjavesialue</td>
        <td>[item name=bag_id format=$value escape=none]</td>
        <td>[item name=pvaluenimi format=$value escape=none]</td>
      </tr>
    </tbody>
</table>